h1{
  background-color: lightblue;
  text-align: center;
  font-family: verdana;
   background-color: lightblue;
   font-size: 20px;
   color: white;

}

body {
   background-color: lightblue;
   text-align: center;
   font-family: verdana;
    background-color: lightblue;
    font-size: 20px;
    color: white;
}


button {

   background-color: lightblue;
   font-size: 50px;
   color: white;
}
